<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Mystic Motor</title>
    <style>
        body {
            /* background-color: powderblue; */
            background-color: #057bf0;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* body {
            background-image: url('./background.png');
            height: 100vh;
            position: relative;
        } */

        .container {

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .reset-body {
            padding: 4%;
            color: rgb(10, 10, 10);
            background: #fff;
            box-shadow: 0px 6px 15px #03A9F4;
            border-radius: 1rem;

        }

        .logo img {
            width: 51%;
        }

        .form-control:focus {
            border-color: #03A9F4;

        }

        .btn-submit {
            color: #fff;
            background: #057bf0;
            border-color: #79d6ff;
            font-size: larger;
            font-weight: 600;
            border-radius: 0.25rem
        }

        .btn-submit:hover {
            color: #fff;
            background: #0080ff;
            border-color: #057bf0;
        }
    </style>

</head>

<body>
    <div>
        <div class="container">
            <div class="row mx-1 justify-content-center align-items-center">
                <div class="reset-body col-md-6">
                    <div class="logo d-flex justify-content-center mb-3">
                        <!-- <img src="./logo.png" alt=""> -->
                    </div>
                    <h2 class="reset-heading text-center"><b>RESET PASSWORD</b></h2>

                    <form class="mt-5" id="myForm" method="post">

                        <div class="mb-3">
                            <label class="form-label">New Password</label>
                            <input type="password" id="newpassword" class="form-control" name="password"
                                placeholder="New password" required minlength="8">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" id="confirmpassword" class="form-control" name="confirmpass"
                                placeholder="Confirm password" required minlength="8">
                        </div>
                        <div class="d-grid mt-4">
                            <button type="submit" id="submit-btn" class=" py-1
                            btn-submit">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <script>
        var url = new URL(document.location).searchParams;
        var token = url.get("id")
        console.log("searchParams", url.get("token"))



        var newpassword = null
        var confirmpassword = null
        document.getElementById("newpassword").addEventListener("change", function (e) {
            console.log("newpassword", e.target.value)
            newpassword = e.target.value
        })
        document.getElementById("confirmpassword").addEventListener("change", function (e) {
            console.log("confirmpassword", e.target.value)
            confirmpassword = e.target.value
        })


        // var token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InRpbWUiOjE2OTA0NTY1MDQ4MTAsIl9pZCI6IjY0YzI0NzFlMzFjZTRjMWMzNDJjYTJkOCJ9LCJpYXQiOjE2OTA0NTY1MDQsImV4cCI6MTY5MDU0MjkwNH0.PBtVxl3iFyIegJuXiQ8N3rhclh_kzkEUdMoIgfGDxVI"

        document
            .getElementById("submit-btn")
            .addEventListener("click", function (event) {
                event.preventDefault();
                console.log("newvalue", newpassword)
                console.log("confirmpassword", confirmpassword)
                console.log("click hua hain!")

                if (newpassword != null && confirmpassword != null) {


                    if (newpassword != confirmpassword) {
                        console.log("msg :::::::>>> password not equal")
                        alert('password not equal')
                    } else {

                        var data = {
                            password: confirmpassword,
                            code: token
                        }

                        fetch("http://localhost:3024/player/reset/passwords", {
                            method: "POST",
                            headers: {
                                {{!-- Authorization: `Bearer ${token}`, --}}
                                Accept: "application/json",
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify(data),
                        }).then((resp) => resp.json())
                            .then((result) => {
                                console.log("result", result)
                                if (result.success == true) {
                                    alert("reset password success")
                                } else {
                                    alert(`Error :${result.responseMessage}`)
                                }
                            })

                    }
                } else {
                    alert('Please enter your  Password')

                }
            })




    </script>
</body>

</html>